@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
body{
	background-color: grey;
	margin: 0;
	font-family: 'Courier Prime', monospace;
}
div#container{
	width: 800px;
	height: 450px;
	margin-top: 50vh;
	transform: translateY(25%);
	margin: auto auto;
}
div#card{
	background-color: #141c41;
	border-radius: 20px;
}
img#chip{
	position: absolute;
	top: 150px;
	left: 70px;
}
img#cb{
	position: absolute;
	top: 40px;
	right: 30px;
}
img#visa{
	position: absolute;
	top: 325px;
	right: 30px;
	width: 20%;
	height: 15%;
	background-color: white;
	padding: 0.5em;
	border-radius: 5px;
}
div#text{color: white;}
h1{
	text-shadow: black 0.1em 0.1em 0.2em;
	position: absolute;
	font-size: 50px;
}
h1#number{
	top: 225px;
	left: 60px;
}
h1#mr_mrs{
	top: 340px;
	left: 85px;
}
h1#name{
	top: 340px;
	left: 225px;
}
h1#date{
	top: 315px;
	left: 425px;
	font-size: 40px;
}
.triangle {
	position: absolute;
	top: 350px;
	left: 25px;
	width: 50px;
	height: 50px;
	transform: rotate(135deg);
	border-right: 4px solid white;
	border-bottom: 4px solid white;
}